# ==========================================
# Count By Peter
# ==========================================

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Database
data/
*.db
*.sqlite3

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Build
build/
dist/
*.egg-info/

# Bytecode
*.pyo
*.pyd

# OpenCV temp
*.avi
*.mp4